@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&display=swap');
:root {
    --primary-color: #007090;  
    --secondary-color: #A3BAC3;
    --accent-color: #EAEBED;
    --add-accent-color: #01A7C2;
    
    --heading-font: "Montserrat", serif;
    --default-font: "Merriweather", serif;

    --nav-bg-color: #007090; 
    --nav-link-color:#A3BAC3;
    --nav-hover-link-color: #EAEBED;
    --nav-hover-bg-color:#01A7C2;
}

* {
    max-width: 1300px;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}   

header {
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
}

header img {
    border: 1px solid var(--nav-link-color);
    border-radius: 40px;
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

nav {
    text-align: center;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    width: 900px;
    margin-inline: 65px;
}

.menu a{
    display: block;
    padding: 15px;
    color: var(--accent-color);
    font-family: var(--heading-font);
    font-size: 2rem;
    text-decoration: none;
}

.menu a:hover{
    color: whitesmoke;
    text-decoration: underline;
    font-weight: 700;
}

p {
    font-family: var(--default-font);
    padding: 20px;
    color: var(--accent-color);
    font-size:x-large;
    text-indent: 50px;
}

div h1 {
    position: absolute;
    top: 400px;
    left: 500px;
    background-color: var(--primary-color);
}

.hero img {
    display: block;
    position:relative;
    width: 100%;
    height: auto; 
}

.hero h1 {
    position: absolute;
    left: 145px;
    font-size: 40px;
    background-color: rgba(0, 112, 144,0.75);
    color: var(--accent-color);
    padding: 20px;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
}

.hero article {
    position: absolute;
    text-align: center;
    top: 490px;
    margin: 50px;
    background-color: rgba(0, 112, 144,0.75);
}

.hero article p {
    font-size: larger;
    padding: 25px;
    text-indent: 50px;
    text-align:left;
}

.hero article img {
    float:  right;
    width: 200px;
    height: auto;
    margin: 15px;
}

.history{
    margin: 15px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align:start ;
}

.history h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0px;
    left: 0px;
    background-color: rgba(0, 112, 144,0.8);
    color: var(--accent-color);
    padding: 10px;
    font-size: 40px;
    align-self: start;
    text-align: center;
}

.history img {
    width: 100%;
    height: auto;
}

.history p {
    background-color: var(--nav-bg-color);
}

section h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 42px;
    color: var(--nav-hover-link-color);
    text-align: center;
    background-color: rgba(0, 112, 144, 0.8);
    padding: 10px;
}

.adventure {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    background-color: var(--secondary-color);
    
}

.adventure img {
    width: 100%;
    height: auto;
    margin: 0px;
}

footer p {
    color: var(--primary-color);
    font-size: 18px;
}

.social-media img{
    width: 90px;
    height: auto;
    padding: 20px;
}

.social-media {
    display: flex;
    justify-content: flex-end;

}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.contact-us-main {
    /*width: 1fr;*/
    margin-top: 30px;
    background-color: var(--primary-color);
    padding: 30px;
    display: grid;
    grid-template-columns: 435px 1fr;
    text-align: left;
    align-items: center;
}

.contact-us-main h2{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}

.contact-us-main p{
    font-size: 25px;
    text-align: left;
    text-indent: -5px;
}

.welcome-contact-us p{
    color: rgb(88, 88, 88);
    font-size: 30px;
}

.h1-contact {
    color: rgb(88, 88, 88);
    text-align: center;
    margin: 0;
    font-size: 45px;
    font-weight: 800;
    margin-top: 50px;

}

.welcome-contact-us {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-inline: 50px;
    margin-top: 0px;
    padding: 40px;
}

.image-background {
    position: absolute;
    top: 175px;
    opacity: 25%;
    z-index: -1;
    width: 1285px;
    height: auto;
}

.boxes{ 
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.box1 {
    border: 1px solid rgb(88, 88, 88);
    background-color: var(--nav-bg-color);
    border-radius: 45px;
    margin: 20px;
    padding: 25px;
}

.box2 {
    border: 1px solid rgb(88, 88, 88);
    background-color: var(--nav-bg-color);
    border-radius: 45px;
    margin: 20px;
    padding: 25px;
}

.box2 button {
    padding: 15px;
    padding-inline: 35px;
    border: 1px solid rgb(88, 88, 88);
    border-radius: 35px;
    background-color: var(--nav-hover-link-color);
    color: black;
    font-size: 15px;
}

.box2 button:hover {
    background-color: #012e3a;
    color: var(--nav-hover-link-color);
    font-weight: 700;
    border: 1px solid var(--nav-hover-link-color);
}

.box1 h2, .box2 h2 {
    font-size: 28px;
    font-weight: 1000;
}

.box1 p, .box2 p {
    font-size: 20px;
    align-content:space-around;

}

#employee-profiles {
    width: 1300px;
}

.charles{
    display: flex;
    flex-direction: row;
    width: 1300px;
}

.charles img{
    width: 450px;
    margin-inline: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
}


.charles p{
    width: 400px;
    text-align: center;
    align-self: center;
    color: #012e3a;
    font-size: 25px;
    font-weight: 700;
}

.charles figcaption {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #012e3a;
}

.martin{
    display: flex;
    flex-direction: row-reverse;
    width: 1300px;
}

.martin img{
    width: 450px;
    margin-inline: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
}

.martin p{
    width: 400px;
    text-align: center;
    align-self: center;
    color: #012e3a;
    font-size: 25px;
    font-weight: 700;
}

.martin figcaption {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #012e3a;
}

.julia{
    display: flex;
    flex-direction: row;
    width: 1300px;
}

.julia img{
    width: 450px;
    margin-inline: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
}

.julia p{
    width: 400px;
    text-align: center;
    align-self: center;
    color: #012e3a;
    font-size: 25px;
    font-weight: 700;
}

.julia figcaption {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #012e3a;
}

.h2meet {
    font-size: 40px;
    font-weight: 700;
    align-self: center;
    text-align: center;
    margin: 45px;
}

.contact-us-menu {
    background-color: var(--primary-color);
    padding: 55px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

form {
    background-color: var(--nav-link-color);
    border-radius: 10px;
    padding: 30px;
    text-align: center;;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    margin: 15px;
    color:#012e3a;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input, textarea {
    padding: 15px;
    margin: 10px;
    background-color: rgb(248, 228, 229);
    border-radius: 10px;
    border: 1px solid #012e3a;
}

legend {
    font-size: 20px;
    margin: 15px;
    color:#012e3a;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.radio-button {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(248, 228, 229);
    color:#012e3a;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #012e3a;
}

form button {
    padding: 10px; 
    background-color:#012e3a;
    border: 1px solid black;
    color: var(--nav-hover-link-color);
    border-radius: 20px;
    font-size: 20px;
}
 
form button:hover {
    background-color: var(--accent-color);
    color:#012e3a;
    border: 1px solid var(--primary-color);
    font-weight:bold;
}

#sliders {
    margin: auto;
    max-width: inherit;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
}

#sliders>ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

#sliders>ul.slider {
    position: relative;
    max-width: inherit;
    width: 100%;
    height: 730px;
}

#sliders>ul.slider img{
    position:relative;
    padding: 0px;
    left: 50%;
    top: 361px;
    transform: translate(-50%, -50%);
}

#sliders>ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .8s;
    background: #fff;
}

#sliders>ul.slider li img {
    width: 100%;
    height: auto;
    object-fit:cover;
}

#sliders>ul.slider li:first-child {
    opacity: 1;
}

#sliders>ul.slider li:target {
    opacity: 1;
}

#sliders>.slider-menu {
    text-align: center;
}

#sliders>.slider-menu li {
    display: inline-block;
    text-align: center;
}

#sliders>.slider-menu li a {
    display: inline-block;
    margin-inline: 50px;
    color: var(--nav-hover-link-color);
    text-decoration: none;
    background-color: var(--nav-link-color);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

#trips-info>h2, #trips-info>p{
    color: var(--primary-color);
    font-family: var(--heading-font);
}

#trips-info>h2 {
    text-decoration: underline;
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
}

#trips-info>p {
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
}

.trip1, .trip3, .trip5{
    display: flex;
    flex-direction: row;
    width: 1300px;
}

.trip2, .trip4 {
    display: flex;
    flex-direction: row-reverse;
    width: 1300px;
}

.trip1>img, .trip2>img, .trip3>img, .trip4>img, .trip5>img{
    align-self: center;
    width: 550px;
    height: 100%;
    margin-inline: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.trip1>p, .trip2>p, .trip3>p, .trip4>p, .trip5>p{
    width: 550px;
    font-family: var(--heading-font);
    text-align: justify;
    color: var(--primary-color);
    font-size: 25px;
    font-weight: 400;
}

#trips-info>h3 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 25px;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
    background-color:#d7e4e9 ;
    margin-inline: 200px;
    border-radius: 30px;
    padding: 8px;
    margin-top: 5px;
}

#available-trips img{
    width: 355px;
    border: 5px solid #d7e4e9;
    border-radius: 5px;
}

#available-trips figcaption {
    text-align: center;
    background-color:#d7e4e9;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}

#table-title {
    color: var(--primary-color);
    text-decoration: underline;
    text-align: center;
    font-size: 45px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.call-action {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--primary-color);
    margin: 0px;
    width: inherit;
    text-align: center;
}

.call-action h2 {
    text-align: center;
    color: var(--nav-hover-link-color);
    font-size: 40px;
    margin-inline: 300px;
}

.call-action p {
    text-align: center;
    color: var(--nav-hover-link-color);
    font-size: 22px;
    font-family: var(--heading-font);
    text-transform:uppercase;
    margin-inline: 200px;
}

.call-action a{
    text-align: center;
    text-decoration: none;
    color: var(--nav-bg-color);
    font-size: 40px;
    padding-inline: 320px;
    border-radius: 50px;
    border: 1px solid #d7e4e9;
    background-color: #d7e4e9;
}

.call-action a:hover{
    text-align: center;
    text-decoration: none;
    color: #d7e4e9;
    font-size: 40px;
    padding-inline: 320px;
    border-radius: 50px;
    border: 1px solid #012e3a;
    background-color: #012e3a;
}

#footer-trip{
    display: flex;
    flex-direction: column;
}

.social-media p{
    align-self: center;
    margin-right: 400px;
}