@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&display=swap');
:root {
    --primary-color: #007090;  
    --secondary-color: #A3BAC3;
    --accent-color: #EAEBED;
    --add-accent-color: #01A7C2;
    --ext-accent-color: #006989;

    --heading-font: "Montserrat", serif;
    --default-font: "Merriweather", serif;

    --nav-bg-color: #007090; 
    --nav-link-color:#A3BAC3;
    --nav-hover-link-color: #EAEBED;
    --nav-hover-bg-color:#01A7C2;
}
body {
    font-family: var(--default-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-bg-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-bg-color);
}