
nav {
    background-color: rgb(50, 84, 104);
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: steelblue;
    font-family: Arial;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: 0;
}
main {
    max-width: 800px;
}
body {
    font-family: Georgia;
}
aside {
    width: 800px;
    margin: 20px;
    border: 3px solid slategrey;
    padding: 15px;
    background-color: rgb(50, 84, 104);
    color: rgb(209, 223, 228);
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px rgb(244, 242, 164);
}
footer {
    margin-top: 2px;
    border-top: 2px;
    border-color: rgb(61, 100, 122);
    background-color: rgba(158, 194, 218, 0.5);
    text-align: center;
}
